---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Kalkidan Abera" description="About Kalkidan Abera">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Découvrez mon parcours et mes compétences"
			>
				<img
					width="1553"
					height="873"
					src="../../public/assets/coding-1853305_1280.jpg" alt="Kalkidan Abera"
				/>
				
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Passionnée par le monde du numérique et des nouvelles technologies, je suis en pleine reconversion professionnelle avec pour objectif de devenir développeur Web. Après plusieurs années d'expérience, dans des domaines variés comme le service hospitalier, la logistique et la gestion en restauration, j'ai décidé de me lancer dans une nouvelle aventure professionnelle.

						</br>
					</p>
					<p>
					</br>
						Actuellement à la recherche d'une alternance de développeur web, j'ai donc déjà acquis des compétences comme la maîtrise d'HTML, CSS, Bootstrap, Responsive Web Site. Je souhaite renforcer les compétences au sein de votre entreprise. 
						
						<br/>
					</p>
					<p>
					</br>
						Intégrer votre établissement me permettra de concrétiser mon projet professionnel. Rigoureuse et dynamique, je suis prête à m'engager de façon assidue dans cette entreprise. Je suis disponible pour vous exposer plus en détail ma motivation au cours d'un entretien. 
				</div>
			</section>
		
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p> Curieuse, Autonome, Organisée, Dynamique, Polyvalente, Travail d'équipe</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
